/**
* COMMON CSS
*/

:root {
	--backgroundColor: #0f0f0f;
}

// CURSOR

.cursorContainer {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	pointer-events: none;
	opacity: 0;
	mix-blend-mode: difference;
	.dot {
		width: 6px;
		height: 6px;
		position: absolute;
		background: white;
		border-radius: 50%;
		border: solid white 1px;
		transform: translate(calc(-50%), calc(-50%));
	}
	.cross,
	.leftArrow,
	.rightArrow {
		position: relative;
		opacity: 1;
		div {
			width: 35px;
			height: 7px;
			background: white;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.cross {
		.a {
			transform: translate(50%, -50%) rotate(-45deg) scaleX(0.001);
		}
		.b {
			transform: translate(50%, -50%) rotate(45deg) scaleX(0.001);
		}
	}
	.leftArrow {
		.a {
			transform-origin: left;
			transform: translate(calc(50% + 15px), calc(-50% - 2px)) rotate(45deg) scaleX(0.001);
		}
		.b {
			transform-origin: left;
			transform: translate(calc(50% + 15px), calc(-50% + 2px)) rotate(-45deg) scaleX(0.001);
		}
	}
	.rightArrow {
		.a {
			transform-origin: right;
			transform: translate(calc(50% - 15px), calc(-50% + 2px)) rotate(45deg) scaleX(0.001);
		}
		.b {
			transform-origin: right;
			transform: translate(calc(50% - 15px), calc(-50% - 2px)) rotate(-45deg) scaleX(0.001);
		}
	}
}

// HEADER

.headerContainer {
	width: 91.4vw;
	height: 20vh;
	position: fixed;
	display: flex;
	justify-content: space-between;
	padding: 3vh 4.3vw 3vh 4.3vw;
	align-items: center;
	z-index: 80;
	font-family: 'Montserrat Regular';
	pointer-events: none;
	a {
		pointer-events: auto;
		cursor: none;
	}

	.logo {
		img {
			width: 110px;
			filter: invert(1);
			transform: translateY(15px);
		}
	}
	.contactButton {
		color: white;
		text-decoration: none;
		padding: 10px;
	}
}

// FONTS

@font-face {
	font-family: 'Montserrat Bold';
	src: url('../assets/fonts/montserrat/Montserrat-Bold.woff') format('woff'), url('../assets/fonts/montserrat/Montserrat-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'Montserrat Regular';
	src: url('../assets/fonts/montserrat/Montserrat-Regular.woff') format('woff'), url('../assets/fonts/montserrat/Montserrat-Regular.woff2') format('woff2');
}
