body {
	margin: 0;
	background-color: var(--backgroundColor);
	position: relative;
	user-select: none;
}

* {
	cursor: none;
}

.menuContainer {
	width: 100vw;
	display: flex;
	.contentContainer {
		width: 100vw;
		display: flex;
		z-index: 10;
		.leftStepBloc {
			width: 27.5vw;
			background: red;
		}
		.rightStepBloc {
			width: 27.5vw;
			background: red;
		}
		.imagesContainer {
			width: 45vw;
			background: blue;
			padding: calc((100vh - (45vw / 1.78)) / 2) 0 calc((100vh - (45vw / 1.78)) / 2) 0;
			.image {
				img {
					width: 45vw;
					height: calc(45vw / 1.78);
					object-fit: cover;
				}
			}
			.stepBloc {
				width: 100%;
				height: 100px;
			}
		}
	}
	.blackBlocs {
		width: 100vw;
		height: 100%;
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 30;
		.borderColumn {
			width: 27.5vw;
			background: green;
		}
		.centerColumn {
			width: 45vw;
			padding: calc((100vh - (45vw / 1.78)) / 2) 0 calc((100vh - (45vw / 1.78)) / 2) 0;
			.imageSpot {
				width: 45vw;
				height: calc(45vw / 1.78);
			}
			.stepBloc {
				width: 100%;
				height: 100px;
				background: green;
			}
		}
	}
	.nameContainer {
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		span {
			font-family: 'Montserrat Bold';
			font-size: 7.5vw;
		}
	}
	.fillNameContainer {
		z-index: 20;
		span {
			color: white;
		}
	}
	.strokeNameContainer {
		z-index: 40;
		span {
			color: rgba($color: #000000, $alpha: 0);
			-webkit-text-stroke: 2px white;
		}
	}
}
