body
{
  margin: 0;
  padding: 0;
  background-color: #0F0F0F;
  height: 100vh;
}

.menuContainer
{
  height: 100vh;
  display: flex;
  background-color: #0F0F0F;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  .leftBorder, .rightBorder
  {
    width: 25vw;
  }
  .centerContainer
  {
    width: 50vw;
    height: auto;
    section
    {
      height: 100vh;
      scroll-snap-align: center;
      img
      {
        width: 100%;
      }
    }
  }
}