body
{
	position: relative;
	margin: 0;
	background-color: var(--backgroundColor);
	cursor: none;
	// user-select: none;

}

.nameContainer
{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	h1
	{
		padding: 10vh 7vw 10vh 7vw;
		font-family: 'Montserrat Bold';
		font-size: 8vw;
		color: transparent;
		background: radial-gradient(circle, white 15%, black 15%, black 0), black;
		background-repeat: no-repeat;
		background-clip: text;
		-webkit-background-clip: text;
		background-position: -200px;
	}
}