/**
* COMMON CSS
*/
:root {
  --backgroundColor: #0F0F0F; }

.cursorContainer {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  mix-blend-mode: difference; }
  .cursorContainer .dot {
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    border: solid white 1px;
    transform: translate(calc(-50% - 150px), calc(-50% - 150px)); }
  .cursorContainer .cross {
    position: relative; }
    .cursorContainer .cross div {
      width: 35px;
      height: 7px;
      background-color: white;
      position: absolute;
      top: 0;
      right: 0; }
    .cursorContainer .cross .a {
      transform: translate(50%, -50%) rotate(-45deg) scaleX(0.01); }
    .cursorContainer .cross .b {
      transform: translate(50%, -50%) rotate(45deg) scaleX(0.01); }

.headerContainer {
  width: 91.4vw;
  height: 20vh;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 3vh 4.3vw 3vh 4.3vw;
  align-items: center;
  z-index: 80;
  font-family: 'Montserrat Regular';
  pointer-events: none; }
  .headerContainer a {
    pointer-events: auto;
    cursor: none; }
  .headerContainer .logo img {
    width: 130px; }
  .headerContainer .contactButton {
    color: white;
    text-decoration: none;
    padding: 10px; }

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../assets/fonts/montserrat/Montserrat-Bold.woff") format("woff"), url("../assets/fonts/montserrat/Montserrat-Bold.woff2") format("woff2"); }

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../assets/fonts/montserrat/Montserrat-Regular.woff") format("woff"), url("../assets/fonts/montserrat/Montserrat-Regular.woff2") format("woff2"); }
