body {
  margin: 0;
  background-color: var(--backgroundColor);
  position: relative;
  cursor: none;
  user-select: none; }

.menuContainer {
  display: flex;
  position: fixed;
  background-color: var(--backgroundColor); }
  .menuContainer .strokeNamesContainer {
    z-index: 50; }
  .menuContainer .fillNamesContainer, .menuContainer .strokeNamesContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000000;
    pointer-events: none; }
    .menuContainer .fillNamesContainer .names, .menuContainer .strokeNamesContainer .names {
      position: relative; }
      .menuContainer .fillNamesContainer .names span.nameSpanContainer, .menuContainer .strokeNamesContainer .names span.nameSpanContainer {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        font-family: 'Montserrat Bold';
        font-size: 7.5vw;
        white-space: nowrap;
        display: flex; }
        .menuContainer .fillNamesContainer .names span.nameSpanContainer span, .menuContainer .strokeNamesContainer .names span.nameSpanContainer span {
          margin: 2px;
          white-space: pre; }
      .menuContainer .fillNamesContainer .names .fill, .menuContainer .strokeNamesContainer .names .fill {
        color: white;
        z-index: 10; }
      .menuContainer .fillNamesContainer .names .stroke, .menuContainer .strokeNamesContainer .names .stroke {
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke: 1.5px white; }
  .menuContainer .leftBorder, .menuContainer .rightBorder {
    width: 27.5vw;
    background-color: var(--backgroundColor);
    z-index: 40; }
  .menuContainer .centerContainer {
    width: 45vw;
    height: auto; }
    .menuContainer .centerContainer img {
      width: 100%;
      margin-bottom: -5px;
      z-index: -5; }
    .menuContainer .centerContainer .blackBloc {
      position: relative;
      background-color: var(--backgroundColor);
      z-index: 40; }
