body {
  margin: 0;
  padding: 0;
  background-color: #0F0F0F; }

.menuContainer {
  position: fixed;
  display: flex;
  background-color: #0F0F0F; }
  .menuContainer .leftBorder, .menuContainer .rightBorder {
    width: 25vw; }
  .menuContainer .centerContainer {
    width: 50vw;
    height: auto; }
    .menuContainer .centerContainer img {
      width: 100%; }
    .menuContainer .centerContainer .blackBloc {
      width: 100%;
      height: 100px; }
